Scripting/Invoice/simple_invoice_import_xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="import">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="file" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="path"/>
              <xs:element type="xs:string" name="mask" minOccurs="0"/>
              <xs:element type="xs:string" name="name" minOccurs="0"/>
              <xs:element type="xs:string" name="comment"  minOccurs="0"/>
              <xs:element type="xs:string" name="version"  minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>